* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cdcdcd;
}

.hongo {
  margin: 80px;
  background-color: transparent;
  width: max-content;
  position: relative;
  filter: drop-shadow(5px 2px 4px);
}

.cabeza {
  width: 260px;
  height: 200px;
  background-color: #c53b4a;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.cabeza::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 57%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 140px 0 #fff, -140px 0 #fff;
}

.cara {
  position: absolute;
  background-color: #fadac1;
  width: 155px;
  height: 90px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 26% 26% 30% 30%;
}

.ojo {
  background-color: #000;
  border-radius: 50%;
  width: 14px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 60px;
  box-shadow: 61px 0;
}

.ojo::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  top: 5px;
  width: 4px;
  height: 10px;
  background-color: #d2cfc6;
  border-radius: 50%;
  box-shadow: 61px 0 #d2cfc6;
}
